{% extends "reddit/application_base.html" %}
{% block content %}


<div class="container">


    <h1>Reddit Submission Search</h1>


<form action="query/" method="POST">
    <hr>
    {% csrf_token %}
    
    <h2 class="lead">Please enter a subreddit to begin your search.</h2>
    <label for="form"> Subreddit: </label>
    {{ form.subreddit }}
    <label for="form"> Sort Type:  </label>
    {{ form.sort_type }}
    <label for="form"> number of Results: </label>
    {{ form.result_count }}
    <br>
    <br>
    <button  class="btn btn-success" onclick="submit"> Search</button>

</form>


</div>
{% endblock content %}