{% extends "reddit/application_base.html" %}
{% block content %}


<div class="container">
    <!-- <h1>Reddit: Comments (DISABLED)</h1>
    <hr>
    <nav class="navbar navbar-expand-md navbar-light">

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="collapsibleNavbar">
            <ul class="navbar-nav">

                <li class="nav-item">
                    <a class="nav-link" href="{% url "application_submisson_search" %}">Submission Search</a>
                </li>
                
                <li class="nav-item">
                    <a class="nav-link" href="{% url "application_submisson_results" %}">Submission Results</a>
                </li>
            </ul>
        </div>
    </nav>
<hr>



<h1>Reddit: Live Thread  (DISABLED)</h1>
<hr>
<nav class="navbar navbar-expand-md navbar-light">

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="collapsibleNavbar">
        <ul class="navbar-nav">

            <li class="nav-item">
                <a class="nav-link" href="{% url "application_submisson_search" %}">Submission Search</a>
            </li>
            
            <li class="nav-item">
                <a class="nav-link" href="{% url "application_submisson_results" %}">Submission Results</a>
            </li>
        </ul>
    </div>
</nav>
<hr>





<h1>Reddit: Live Update (DISABLED)</h1>
<hr>
<nav class="navbar navbar-expand-md navbar-light">

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="collapsibleNavbar">
        <ul class="navbar-nav">

            <li class="nav-item">
                <a class="nav-link" href="{% url "application_submisson_search" %}">Submission Search</a>
            </li>
            
            <li class="nav-item">
                <a class="nav-link" href="{% url "application_submisson_results" %}">Submission Results</a>
            </li>
        </ul>
    </div>
</nav>
<hr>



<h1>Reddit: Message (DISABLED)</h1>
<hr>
<nav class="navbar navbar-expand-md navbar-light">

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="collapsibleNavbar">
        <ul class="navbar-nav">

            <li class="nav-item">
                <a class="nav-link" href="{% url "application_submisson_search" %}">Submission Search</a>
            </li>
            
            <li class="nav-item">
                <a class="nav-link" href="{% url "application_submisson_results" %}">Submission Results</a>
            </li>
        </ul>
    </div>
</nav>
<hr>


<h1>Reddit: Mod Mail Conversation (DISABLED)</h1>
<hr>
<nav class="navbar navbar-expand-md navbar-light">

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="collapsibleNavbar">
        <ul class="navbar-nav">

            <li class="nav-item">
                <a class="nav-link" href="{% url "application_submisson_search" %}">Submission Search</a>
            </li>
            
            <li class="nav-item">
                <a class="nav-link" href="{% url "application_submisson_results" %}">Submission Results</a>
            </li>
        </ul>
    </div>
</nav>
<hr>


<h1>Reddit: More Comments (DISABLED)</h1>
<hr>
<nav class="navbar navbar-expand-md navbar-light">

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="collapsibleNavbar">
        <ul class="navbar-nav">

            <li class="nav-item">
                <a class="nav-link" href="{% url "application_submisson_search" %}">Submission Search</a>
            </li>
            
            <li class="nav-item">
                <a class="nav-link" href="{% url "application_submisson_results" %}">Submission Results</a>
            </li>
        </ul>
    </div>
</nav>
<hr>


<h1>Reddit: MultiReddit (DISABLED)</h1>
<hr>
<nav class="navbar navbar-expand-md navbar-light">

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="collapsibleNavbar">
        <ul class="navbar-nav">

            <li class="nav-item">
                <a class="nav-link" href="{% url "application_submisson_search" %}">Submission Search</a>
            </li>
            
            <li class="nav-item">
                <a class="nav-link" href="{% url "application_submisson_results" %}">Submission Results</a>
            </li>
        </ul>
    </div>
</nav>
<hr>


<h1>Reddit: Redditor (DISABLED)</h1>
<hr>
<nav class="navbar navbar-expand-md navbar-light">

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="collapsibleNavbar">
        <ul class="navbar-nav">

            <li class="nav-item">
                <a class="nav-link" href="{% url "application_submisson_search" %}">Submission Search</a>
            </li>
            
            <li class="nav-item">
                <a class="nav-link" href="{% url "application_submisson_results" %}">Submission Results</a>
            </li>
        </ul>
    </div>
</nav>
<hr> -->



    <h1>Reddit: Submissions</h1>
    <hr>
    <nav class="navbar navbar-expand-md navbar-light">

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="collapsibleNavbar">
            <ul class="navbar-nav">

                <li class="nav-item">
                    <a class="nav-link" href="{% url "application_submisson_search" %}">Search</a>
                </li>

                
                <li class="nav-item">
                    <a class="nav-link"> | </a>
                </li>
                
                <li class="nav-item">
                    <a class="nav-link" href="{% url "application_submisson_results" %}">Results</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link"> | </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="{% url "application_submisson_esclation" %}">Escalations</a>
                </li>
                
                
            </ul>
        </div>
    </nav>
<hr>


<!-- 
<h1>Reddit: Subreddit (DISABLED)</h1>
<hr>
<nav class="navbar navbar-expand-md navbar-light">

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="collapsibleNavbar">
        <ul class="navbar-nav">

            <li class="nav-item">
                <a class="nav-link" href="{% url "application_submisson_search" %}">Submission Search</a>
            </li>
            
            <li class="nav-item">
                <a class="nav-link" href="{% url "application_submisson_results" %}">Submission Results</a>
            </li>
        </ul>
    </div>
</nav>
<hr>



<h1>Reddit: Wiki Page (DISABLED)</h1>
<hr>
<nav class="navbar navbar-expand-md navbar-light">

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="collapsibleNavbar">
        <ul class="navbar-nav">

            <li class="nav-item">
                <a class="nav-link" href="{% url "application_submisson_search" %}">Submission Search</a>
            </li>
            
            <li class="nav-item">
                <a class="nav-link" href="{% url "application_submisson_results" %}">Submission Results</a>
            </li>
        </ul>
    </div>
</nav>
<hr> -->











</div>

{% endblock content %}