{% extends "reddit/application_base.html" %}
{% block content %}


<div class="container">


    <h1>Reddit Submission Search</h1>


<form action="query/" method="POST">
    <hr>
    {% csrf_token %}
    
    <h1 class="lead">Please enter a subreddit to begin your search.</h1>
    <br>
    <label for="form"> Subreddit: </label>
    {{ form.subreddit }}
    <br>
    <label for="form"> Sort Type:  </label>
    {{ form.sort_type }}
    <br>
    <label for="form"> Number of Results: </label>
    {{ form.result_count }}
    <br>
    <button  class="btn btn-success" onclick="submit">Search</button>

</form>


</div>
{% endblock content %}